---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include header.html %}
<body>
  {% include navbar.html %}
  <div class="wrapper">
    <main aria-label="Content">
      <div class="not-found">
        <div class="container">
          <div class="title">404</div>
          <img class="notfoundimg" src="/assets/img/404.jpg">
          <br>
          <p class="phrase">Oops 😓. Something broke. I wont blame you if you dont blame me.</p>
        </div>
      </div>
    </main>  
    {% include footer.html %}
</div>
    
</body>

</html>
